.header {
    border: solid 2px #000;
    height: 100px;
}
.main {
    display: flex;
    justify-content: space-around;
    border: solid 2px red;
    height: 500px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.vertical {
    border: solid 2px #000;
    height: 100%;
    flex-grow: 1;
}.verticalRight {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
.central,.centralRight {
    border: solid 2px #000;
    flex-grow: 1;
}
.central {
    flex-grow: 2;
}
.bottom {
    display: flex;
    border: solid 2px #000;
    flex-grow: 3;
}
.top {
    border: solid 2px #000;
    flex-grow: 2;
}
